{% extends 'base.html.twig' %}

{% block body %}
    <h1>Convocacaos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for convocacao in convocacaos %}
            <tr>
                <td><a href="{{ path('convocacao_show', { 'id': convocacao.id }) }}">{{ convocacao.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('convocacao_show', { 'id': convocacao.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('convocacao_edit', { 'id': convocacao.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('convocacao_new') }}">Create a new convocacao</a>
        </li>
    </ul>
{% endblock %}
