{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3> Editar usuário</h3>
            <form action="{{ path('fos_user_profile_edit') }}" method="POST">
                {{ form_row(form._token) }}
                <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-md-3">Nome<code class="highlighter-red">*</code></label>
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control col-md-9', 'placeholder': 'Troque seu nome'|trans } }) }}
                    {{ form_errors(form.name) }}
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-md-3">CPF<code class="highlighter-red">*</code></label>
                    {{ form_widget(form.cpf, { 'attr': {'class': 'form-control col-md-9', 'placeholder': 'Troque seu CPF'|trans } }) }}
                    {% if form_errors(form.cpf)  %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ form_errors(form.cpf) }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-md-3">RG<code class="highlighter-red">*</code></label>
                    {{ form_widget(form.rg, { 'attr': {'class': 'form-control col-md-9', 'placeholder': 'Troque seu RG'|trans } }) }}
                    {% if form_errors(form.rg) %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ form_errors(form.rg) }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-md-3">Telefone<code class="highlighter-red">*</code></label>
                    {{ form_widget(form.telefone, { 'attr': {'class': 'form-control col-md-9', 'placeholder': 'Troque seu telefone'|trans } }) }}
                    {% if form_errors(form.telefone) %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ form_errors(form.telefone) }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-md-3">Data nascimento<code class="highlighter-red">*</code></label>
                    {{ form_widget(form.dataNascimento, { 'attr': {'class': 'form-control col-md-9' } }) }}
                    {% if form_errors(form.dataNascimento) %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ form_errors(form.dataNascimento) }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-md-3">Usuário<code class="highlighter-red">*</code></label>
                    {{ form_widget(form.username, { 'attr': {'class': 'form-control col-md-9', 'placeholder': 'Troque seu nome de usuário'|trans } }) }}
                    {% if form_errors(form.username)  %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ form_errors(form.username) }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-md-3">E-mail<code class="highlighter-red">*</code></label>
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control col-md-9', 'placeholder': 'Enter an Email'|trans } }) }}
                    <small id="emailHelp" class="form-text text-muted hidden-sm hidden-xs">Nós nunca compartilharemos seu email com ninguém.
                        else.
                    </small>
                    {% if form_errors(form.email)  %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ form_errors(form.email) }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-md-3">Senha atual<code class="highlighter-red">*</code></label>
                    {{ form_widget(form.current_password, { 'attr': {'class': 'form-control col-md-9', 'placeholder': 'Senha sua senha atual'|trans } }) }}
                    {% if form_errors(form.current_password) %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ form_errors(form.current_password) }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Salvar cambios">
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>

{% endblock %}