{% extends 'base.html.twig' %}
{% block title %}Resultados da pesquisa{% endblock %}
{% block body %}
    <div class="row">
        {% if matriculas %}
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-11">
                    <h3>Resultados da pesquisa </h3></div>
                <div class="col-md-1">
                    <a href="{{ path('matricula_index') }}" ><img src="{{ asset('svg/arrow-left.svg') }}">Voltar</a>
                </div>
            </div>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ativa</th>
                    <th scope="col">Paga</th>
                    <th scope="col">Ano</th>
                    <th scope="col">Período</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Aluno</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for matricula in matriculas %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{% if matricula.matricula.ativa %}
                                <span class="badge badge-success">Sim</span>
                            {% else %}
                                <span class="badge badge-secondary">Não</span>
                            {% endif %}</td>
                        <td>{% if matricula.paga %}
                                <span class="badge badge-success">Sim</span>
                            {% else %}
                                <span class="badge badge-danger">Não</span>
                            {% endif %}
                        </td>
                        <td>{{ matricula.matricula.ano | date("Y") }}</td>
                        <td>{{ matricula.matricula.curso.periodo }}</td>
                        <td>{{ matricula.matricula.curso }}</td>
                        <td><span class="badge badge-primary">{{ matricula.aluno.name }}</span></td>

                        <td>
                            <a href="{{ path('matricula_show', { 'id': matricula.matricula.id }) }}"><img
                                        src="{{ asset('svg/eye.svg') }}" alt="icon name"></a>
                            <a href="{{ path('matricula_edit', { 'id': matricula.matricula.id }) }}"><img
                                        src="{{ asset('svg/pencil.svg') }}" alt="icon name"></a>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('matricular_form',{'id':-1}) }}" style="float: right"><img src="{{ asset('svg/plus.svg') }}"> Matricular novo aluno</a>
            <div class="navigation">
                {{ knp_pagination_render(matriculas) }}
            </div>
        </div>
        <div class="col-md-1"></div>
        {% else %}
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="alert alert-secondary" role="alert">
                Nenhum resultado encontrado
            </div>
        </div>
        <div class="col-md-1"></div>
        {% endif %}
    </div>
    <div class="modal fade" id="empty_submit" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Informação</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Você deve selecionar pelo menos um critério para filtrar
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/bootstrap-typeahead.js') }}"></script>
{% endblock %}
