{% extends 'base.html.twig' %}
{% block title %}Matricular aluno{% endblock %}
     {% block stylesheets %}
         <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.min.css') }}">
     {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <a href="{{ path('curso_index') }}">
                <img src="{{ asset('svg/arrow-left.svg') }}"> Voltar à listagem</a>
            <h3>Matricular aluno no curso {{ matricula.curso }}</h3>
            <form action="{{ path('matricular_admin_action') }}" method="POST" id="form_matricula_aluno">
                <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-md-3">Aluno<code class="highlighter-red">*</code></label>
                    <div class="col-md-9">
                        <select class="custom-select mr-sm-2" id="matricula_aluno" name="aluno" required>
                            <option value="">Escolher...</option>
                            {% for aluno in alunos %}
                            {% if not aluno.hasRole("ROLE_SUPER_ADMIN") %}
                                <option value="{{ aluno.id }}">{{ aluno.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-md-3">Curso<code class="highlighter-red">*</code></label>
                    <div class="col-md-9">
                        <input value="{{ matricula.curso.nome  }}" readonly class="form-control" required>
                        <input value="{{ matricula.curso.id  }}" type="hidden" name="matricula_curso" id="matricula_curso">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="anoleitivo" class="col-md-3 col-form-label">Ano leitivo<code class="highlighter-red">*</code></label>
                    <div class="col-md-9">
                        <input value="{{ matricula.ano | date('Y') }}" readonly class="form-control" required id="anoleitivo" placeholder="Ano leitivo">
                        <div style="display:none" class="alert alert-danger alert-dismissible fade show" role="alert" id="alert-anoleitivo">
                            <ul><li>This value should have exactly 4 characters.</li></ul>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-md-3">Período<code class="highlighter-red">*</code></label>
                    <div class="col-md-9">
                        <input value="{{ matricula.curso.periodo  }}" name="periodo" readonly class="form-control" required id="periodo" placeholder="Ano leitivo">
                    </div>
                </div>
                <div class="form-group row">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Matricular" id="matricula_submit">
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal_form_matricula" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Informação</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info" role="alert">
                        Este aluno já está matriculado neste curso, no mesmo ano e período.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal_form_matricula_available" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Informacao</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info" role="alert">
                        Este curso não tem inscrição aberta para este ano ou período.
                        <hr>
                        Verifique se há uma inscrição aberta que corresponda às suas desejos.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
{% endblock %}