{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <a href="{{ path('matricula_index') }}"><img src="{{ asset('svg/arrow-left.svg') }}"> Back to the list</a>
            <h1>Curso edit</h1>
            <form action="{{ path('matricula_edit',{ 'id': matricula.id}) }}" method="POST">
                {{ form_row(edit_form._token) }}
                <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-md-2">Curso: <code class="highlighter-red">*</code></label>
                    {{ form_widget(edit_form.curso, { 'attr': {'class': 'form-control col-md-10', 'placeholder': 'Enter the name of the course'|trans } }) }}
                    {{ form_errors(edit_form.curso) }}
                </div>

                <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-sm-2">Ano: <code class="highlighter-red">*</code></label>
                    {{ form_widget(edit_form.ano, { 'attr': {'class': 'form-control col-sm-10', 'placeholder': 'Ano'|trans } }) }}
                    {{ form_errors(edit_form.ano) }}
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-sm-2">Ativa</label>
                    {#<div class="custom-control custom-checkbox mr-sm-2">#}
                        {#<input type="checkbox" class="custom-control-input" id="customControlAutosizing" name="ativa" {% if matricula.ativa %} checked {% endif %}>#}
                        {#<label class="custom-control-label" for="customControlAutosizing">Ativa</label>#}
                    {#</div>#}
                    {{ form_widget(edit_form.ativa, { 'attr': {'class': 'form-control col-sm-1', 'placeholder': 'Enter the amount to pay to enroll this course'|trans } }) }}
                    {{ form_errors(edit_form.ativa) }}
                </div>
                <div class="form-group row">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Editar matricula">
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}
