{% extends 'base.html.twig' %}
{% block title %}Editar matrícula{% endblock %}
     {% block stylesheets %}
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css">
     {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <a href="{{ path('matricula_index') }}"><img src="{{ asset('svg/arrow-left.svg') }}"> Voltar à listagem</a>
            <h3>Matricula edit</h3>
            <form action="{{ path('matricula_edit',{ 'id': matricula.id}) }}" method="POST">
                {{ form_row(edit_form._token) }}
                <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-md-3">Ano leitivo<code class="highlighter-red">*</code></label>
                    {{ form_widget(edit_form.ano, { 'attr': {'class': 'form-control col-md-9', 'placeholder': 'Ano'|trans } }) }}
                    {% if form_errors(edit_form.ano)  %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ form_errors(edit_form.ano) }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-md-3">Curso: <code class="highlighter-red">*</code></label>
                    {{ form_widget(edit_form.curso, { 'attr': {'class': 'form-control col-md-9', 'placeholder': 'Enter the name of the course'|trans } }) }}
                    {% if form_errors(edit_form.curso)  %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ form_errors(edit_form.curso) }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                </div>

                <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-md-3">Ativa</label>
                    {{ form_widget(edit_form.ativa, { 'attr': {'class': 'form-control col-sm-1', 'placeholder': 'Enter the amount to pay to enroll this course'|trans } }) }}
                    {% if form_errors(edit_form.ativa)   %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ form_errors(edit_form.ativa)  }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group row">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Editar matricula">
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
{% endblock %}