{% extends 'base.html.twig' %}
{% block title %}Listagem de matriculas{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-6">
                    <h3>Listagem de Matriculas </h3></div>
                <div class="col-md-6">
                    <div class="row">
                        <form action="{{ path('filter') }}" method="POST" id="filter_form">
                            <div class="form-row">
                                <div class="col-md-3">
                                    <label class="inline_label" for="filter_pago">
                                        <input type="checkbox" class="form-control" name="filter_pago" id="filter_pago">
                                        Pagamento pendiente</label>
                                </div>
                                <div class="col-md-3">
                                    <select name="filter_curso" id="filter_curso" class="custom-select">
                                        <option value="">Curso</option>
                                        {% for curso in cursos %}
                                            <option value="{{ curso.id }}">{{ curso.nome }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" name="filter_aluno" id="filter_aluno"
                                           class="form-control" placeholder="Aluno">
                                </div>
                                <button type="submit" class="btn" id="filter_submit"><img
                                            src="{{ asset('svg/search.svg') }}"></button>
                            </div>
                        </form>
                    </div>
                    (Total {{ total }} |
                    {% if all %}
                        <a href="{{ path('matricula_index') }}"> Ver so as ativas </a>)
                    {% else %}
                        <a href="{{ path('matricula_index',{'all':true}) }}"> Ver todas </a>)
                    {% endif %}

                </div>
            </div>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ativa</th>
                    <th scope="col">Ano</th>
                    <th scope="col">Periodo</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Alunos</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for matricula in matriculas %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{% if matricula.ativa %}
                                <span class="badge badge-success">Sim</span>
                                (<a href="{{ path('matricula_activate',{'id':matricula.id}) }}">Desativar</a>)
                            {% else %}
                                <span class="badge badge-secondary">Nao</span>
                                (<a href="{{ path('matricula_activate',{'id':matricula.id} ) }}">Ativar</a>)
                            {% endif %}</td>
                        <td>{{ matricula.ano | date("Y") }}</td>
                        <td>{{ matricula.curso.periodo }}</td>
                        <td>{{ matricula.curso }}</td>
                        <td><span class="badge badge-primary">{{ matricula.alunosMatriculados | length }}</span></td>

                        <td>
                            <a href="{{ path('matricula_show', { 'id': matricula.id }) }}"><img
                                        src="{{ asset('svg/eye.svg') }}" alt="icon name"></a>
                            <a href="{{ path('matricula_edit', { 'id': matricula.id }) }}"><img
                                        src="{{ asset('svg/pencil.svg') }}" alt="icon name"></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('matricula_new') }}"><img src="{{ asset('svg/plus.svg') }}" alt="icon name"> Abrir nueva
                matricula</a>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="modal fade" id="empty_submit" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Informacion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Debe seleccionar al menos un critero para filtrar
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/bootstrap-typeahead.js') }}"></script>
{% endblock %}
