{% extends 'base.html.twig' %}
{% block title %}Detalhes de operação{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="{{ path('dashboard_aluno') }}"><img
                                src="{{ asset('svg/arrow-left.svg') }}"> Voltar</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card text-left">
            <div class="card-header">
                <h3>Detalhes de operação</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title"><b>Preço:</b> {{ debe }}</h5>
                <h6 class="card-title"><b>Você pagou:</b> {{ pago }}</h6>
                {% if change == 0 %}
                    <h6 class="card-title"><b>Troco:</b> {{ change }}</h6>
                {% else %}
                    <h6><b>Total para retornar: </b>{{ troco  }}</h6>
                    <h6 class="card-title"><b>Temos calculado para você o melhor troco:</b></h6>
                    {% set values = [100, 50, 10, 5, 1, 0.5, 0.1, 0.05, 0.01] %}

                    {% for ch in change %}
                        {% if ch != 0 %}
                            {{ ch }} {% if loop.index <= 5 %}cedulas {% else %}moedas {% endif %}de {{ values[loop.index - 1] }}<br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="card-footer text-muted">
                <b>Data:</b> {{ "now"|date("m/d/Y") }} |
                <small><a href="#">Imprimir nota</a></small>
            </div>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
{% endblock %}
