{% extends 'base.html.twig' %}
{% block title %}Listagem de cursos{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>Listagem de cursos</h3>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Mensalidade</th>
                    <th>Valor da matrícula</th>
                    <th>Período</th>
                    <th>Duração</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for curso in cursos %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ curso.nome }}</td>
                        <td>{{ curso.mensualidade }}</td>
                        <td>{{ curso.valorMatricula }}</td>
                        <td>{{ curso.periodo }}</td>
                        <td>{{ curso.mesesDuracao }} meses</td>
                        <td>
                            <a href="{{ path('curso_show', { 'id': curso.id }) }}">
                                <img src="{{ asset('svg/eye.svg') }}" alt="icon name">
                            </a>
                            <a href="{{ path('curso_edit', { 'id': curso.id }) }}">
                                <img src="{{ asset('svg/pencil.svg') }}" alt="icon name">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('curso_new') }}">
                <img src="{{ asset('svg/plus.svg') }}" alt="icon name"> Criar novo curso</a>
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}
