{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="{% if is_granted('ROLE_SUPER_ADMIN') %}{{ path('curso_index') }}{% else %}{{ path('dashboard_aluno') }} {% endif %}"> <img
                                    src="{{ asset('svg/arrow-left.svg') }}"> Back to the list</a></li>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="list-group-item"><a href="{{ path('curso_edit', { 'id': curso.id }) }}"><img
                                    src="{{ asset('svg/pencil.svg') }}"> Edit</a></li>
                    <li class="list-group-item">
                        <a href="#" data-toggle="modal" data-target="#exampleModalCenter" class="text-danger"><img
                                    src="{{ asset('svg/trashcan.svg') }}"> Delete</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Confirmar accion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Esta seguro que desea eliminar este curso?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        {{ form_start(delete_form) }}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Detalles do curso {{ curso.id }}</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><b>Nome:</b> {{ curso.nome }}</h5>
                    <h6 class="card-title"><b>Duracao:</b> {{ curso.mesesDuracao }}</h6>
                    <h6 class="card-title"><b>Periodo:</b> {{ curso.periodo }}</h6>
                    <h6 class="card-title"><b>Mensualidade:</b> {{ curso.mensualidade }}</h6>
                    <p class="card-text">{{ curso.descripcao }}</p>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a href="{{ path('matricular_form',{'curso':curso.id }) }}" class="btn btn-primary">Matricular aluno</a>
                    {% else %}
                        <a href="{{ path('matricular_action',{'curso': curso.id}) }}" class="btn btn-primary">Matricular</a>
                    {% endif %}
                </div>
                <div class="card-footer text-muted">
                    Preco da matricula: {{ curso.valorMatricula }}
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

{% endblock %}
